header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 293px;
  font-size: 18px;
}

.site-logo {
  justify-self: center;
  width: 124px;
  height: 94.84px;
}

.address {
  justify-self: end;
  max-width: 240px;
  height: 98px;
  margin: 95px 50px 100px 0;
  font-style: normal;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 34px;
  width: 391.48px;
  height: 22px;
  margin: 133px 0 139px 50px;
  text-underline-offset: 4px;
  list-style: circle;
}

.main-nav-1 {
  text-decoration: none;
}

.cover {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 101px;
  justify-items: center;
  height: 757px;
  overflow: hidden;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover div span,
div {
  position: relative;
  z-index: 1;
  color: #fff;
}

.button {
  width: 256px;
  height: 51px;
  margin: 0 0 0 107px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 20px;
  background: transparent;
}

.cover-title-w {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1000px;
  height: 385px;
  margin: 165px 50px 106px 50px;
  font-weight: bold;
}

.cover-title {
  font-size: 100px;
  letter-spacing: 30px;
}

.title-2 {
  margin: 0 0 0 330.5px;
}

.title-3 {
  margin: 0 0 0 613px;
}

.cover-description {
  z-index: 1;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 51px;
  font-size: 22px;
}

.cover-description p {
  z-index: 1;
  letter-spacing: normal;
  word-spacing: 18px;
}

.width {
  width: 1052px;
}

.lots {
  margin: 180px auto 120px auto;
}

.lots ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  text-decoration: none;
  list-style: none;
}

.lots h1 {
  margin: 0 0 27px 40px;
  font-size: 40px;
}

.lots p {
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
}

.lots a {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  padding: 48px 40px 40px 48px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
}

.card-image-1 {
  background-image: url("/images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-image-2 {
  background-image: url("/images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-image-3 {
  background-image: url("/images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card-text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 287px 72px 1fr;
  margin: 120px auto 180px auto;
  padding: 35px 0 0 47px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.circle-logo {
  width: 148px;
  height: 114px;
}

.about div h1 {
  margin: 101px 0 123px 0;
  color: #000;
  font-size: 40px;
}

.about div p {
  margin: 24px 5px 0 0;
  color: #000;
  font-size: 20px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 163.9px 1fr;
  height: 180px;
  margin: 180px 0 0 0;
}

.social-links {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 48px;
  margin: 1px 50px 0 0;
  list-style: none;
}

.footer-nav {
  text-align: center;
  list-style: none;
}

footer ul li a img {
  width: 48px;
  height: 48px;
}

footer address {
  margin: 0 0 0 50px;
  font-style: normal;
}

.line {
  text-decoration: underline;
  text-underline-offset: 5px;
}
